@import "../../app/common/Variables.scss";

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-grow: 1;
}

.section_about {
  max-width: 768px;
}

.section_title {
  position: relative;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 100%;
  white-space: nowrap;
  text-transform: uppercase;

  &::after {
    content: "";
    width: 100%;
    display: block;
    position: relative;
    height: 1px;
    margin-left: 1.5rem;
    background-color: $border-color;
  }
}

.photo_wrapper {
  width: clamp(15rem, 30%, 20rem);
  height: clamp(15rem, 30%, 20rem);
  border-radius: 50%;
  overflow: hidden;
  float: right;
  margin: 0 0 1rem 2rem;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.blue {
  color: $blue-color;
}

.btn_more_about_me {
  background-color: $blue-color;
  color: $dark-color_1;
  border: none;
  border-radius: $border-radius;
  padding: 0.5rem 1rem;
  text-wrap: nowrap;
  width: fit-content;

  display: flex;
  align-items: center;
  font-size: 1.15rem;
  gap: 0.5rem;

  transition: background-color 0.3s ease;

  svg {
    fill: $dark-color_1;
    width: 24px;
    height: 24px;
  }

  &:hover {
    background-color: $blue-color_1;
  }

  &:active {
    background-color: $blue-color_2;
    transition: none;
  }
}

.more_about_me {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.photo_wrapper_small {
  width: clamp(8rem, 10%, 10rem);
  height: clamp(8rem, 10%, 10rem);
  border-radius: 50%;
  overflow: hidden;
  margin: 0 0 1rem 0;
  float: left;
  margin: 0 1rem 1rem 0;

  img {
    transform: scale(1.1);
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.present_section {
  height: 20rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 2px solid $blue-color;
  border-right: 2px solid $blue-color;
  width: 100%;
  h2 {
    font-size: 5rem;
  }
}
