$site-bg-color: hsl(0, 0%, 11%);

$white-color_0: hsl(0, 0%, 100%);
$white-color_1: hsl(0, 0%, 92%);
$white-color_2: hsl(0, 0%, 82%);
$white-color_3: hsl(0, 0%, 73%);
$white-color_4: hsl(0, 0%, 63%);

$dark-color_0: hsl(0, 0%, 0%);
$dark-color_1: hsl(0, 0%, 11%);
$dark-color_2: hsl(0, 0%, 14%);

$blue-color: hsl(209, 92%, 71%); //#71b7f9
$blue-color_1: hsl(209, 92%, 61%);
$blue-color_2: hsl(209, 92%, 51%);

$border-color: hsl(0, 0%, 25%); //#404040
$border-radius: 0.25rem;

$page-width: 768px;
