@import "../../app/common/Variables.scss";

.wrapper {
  width: 100%;
  position: relative;
}

.hero_shadow {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;

  .shadow_group {
    position: relative;
    width: 1280px;
    top: calc(-1280px / 2);
    z-index: 0;
    flex: none;
  }

  .ellipse_1 {
    position: absolute;
    background-color: rgb(110, 180, 250);
    width: 20rem;
    height: 40rem;
    filter: blur(180px);
    flex: none;
    left: 50%;
    transform: translateX(-50%);
  }
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem 1rem;

  h1 {
    margin: 0;
  }

  .inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: clamp(1.5rem, 2.5vw, 2rem);
    text-align: center;
    text-transform: uppercase;

    .subtitle {
      margin: 0;
      font-weight: 500;
      font-size: 1.5rem;
    }
    span {
      color: $blue-color;
    }
  }
}

@media screen and (max-width: 1279px) {
}
