@import "../../common/Variables.scss";
.wrapper {
  max-width: $page-width;
  margin: 2rem auto;
}
.experience {
  border: 1px solid $white-color_2;
  padding: 2rem;
  border-radius: 1rem;
  background-color: hsl(0, 0%, 15%);
}
.experience_item {
  & > div {
    padding-left: 1rem;
    margin-left: 1rem;
    border-left: 1px solid $blue-color;
  }

  a {
    color: $blue-color;
    text-decoration: none;
  }

  &:last-child {
    border-bottom: none;
  }
}
