@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap");
@import "./Normalize.scss";
@import "../common/Variables.scss";

:root {
  --font-family: "Fira Code", monospace;
  --smooth-scroll: smooth;
  scroll-behavior: var(--smooth-scroll);
}

html {
  scrollbar-gutter: stable;
}

body,
#root {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  font-family: var(--font-family);

  background-color: $site-bg-color;
  color: $white-color_1;
}

hr {
  border: 0;
  height: 1px;
  background-color: $white-color_2;
}

a {
  outline: none;

  &:focus,
  &:hover,
  &:active {
    outline: none;
  }
}

.app-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1280px;
  position: relative;
}

.app-content {
  width: 100%;
  margin: 0 auto;
}
