@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import "./Normalize.scss";
@import "../common/Variables.scss";

:root {
  --font-family: "Inter", sans-serif;
  --smooth-scroll: smooth;
  scroll-behavior: var(--smooth-scroll);
}

html {
  scrollbar-gutter: stable;
}

body,
#root {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  font-family: var(--font-family);

  background-color: $site-bg-color;
  color: $white-color_1;
}

a {
  outline: none;

  &:focus,
  &:hover,
  &:active {
    outline: none;
  }
}

.app-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
  max-width: 1280px;
}

.app-content {
  width: 100%;
  margin: 0 auto;
}
